#formulario, #divResultado{
    width: 50%;
    margin: 0 auto;
    border: 1px steelblue;
    text-align:  center;
}

#divResultado{
    font-size: 20px ;
    font-family: Arial, Helvetica, sans-serif;
}

.cuadro{
     margin:20px;
}
.boton{
    height: 70px;
    width: 70px;
    background-color: aquamarine;
}
